@import "settings/fonts";
@import "settings/colors";

.form__container {
  position: relative;
  margin-top: 70px;
  height: 790px;
  &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../assets/Background-Contact-Form.jpg");
      opacity: 0.4;
      background-size: cover;
      background-position: 0 35%;
      z-index: -1;
  }
}

.form__content {
  padding-left: 950px;
  padding-top: 150px;
}

.form-group {
  display: flex;
  flex-direction: column;
  textarea {
    border: none;
    border-bottom: 1px solid $color-mine;
    resize: none;
    background-color: transparent;
    font-family: $font-base;
    width: 430px;
    height: 120px;
    font-size: 14px;
  }
  input {
    border: none;
    border-bottom: 1px solid $color-mine;
    background-color: transparent;
    width: 200px;
    font-size: 14px;
  }
  label {
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 10px;
  }

}

.form__data {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.form__button {
  background-color: transparent;
  border: $color-mine 1px solid;
  color: $color-mine;
  margin-top: 30px;
  margin-left: 290px;
  padding: 15px 50px;
}

.form__heading {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding-top: 210px;
  padding-left: 700px;
  text-align: center;
  display: flex;
  gap: 460px;
  align-items: center;
  p {
    font-size: 16px;
    color: $color-mine;
  }
}

.footer__icons{
  display: flex;
  gap: 10px;
}

.error__message {
  width: 300px;
}

.error {
  font-weight: 600;
  color: red;
  font-size: 12px;
}

.error__container {
  padding-top: 3px;
  height: 13px;
}

.success__container {
  height: 30px;
  width: 250px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  color: green;
}